@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #3f88c2;
    color: white;
    z-index: 100;
    box-shadow: 0 0 6px 1px #0020454d inset;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li {
    margin: 0px 5px;
    padding: 5px auto;

}

.nav-bar ul li a {
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 46%);
}

.nav-bar .voice {
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 46%);
}

.nav-bar .voice:hover {
    background-color: #7badd650;
    border: 1px white solid;
}

.nav-bar ul li a:hover {
    background-color: #7badd650;
    border: 1px white solid;
}

pre {
    background-color: #efc57536;
    font-weight: bold;
    font-family: cursive;
    width: 95%;
    font-size: 15px;
    padding: 8px;
    border-radius: 7px;
    border: 1px brown dotted;
    white-space: pre-wrap;
}


.main-box {
    font-weight: bold;
    font-size: 17px;
    font-family: "Amiri";
    text-align: justify;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

}


span {
    width: fit-content;
    display: block;
    margin: 10px 8px 0 0;
    color: brown;
    font-size: 18px;
    font-family: "Amiri";

}

h2 {
    text-align: center;
    width: 95%;
    border-radius: 5px;
    padding: 0 15px;
    background-color: #cfbfbf40;
    margin: 20px auto 8px;
    font-size: 20px;
    color: teal;
    font-weight: bold;
    font-family: "Amiri";
    border-bottom: 3px teal solid;
}



table {
    margin: 20px auto;
    text-align: center;
    width: 98%;
    border: 1px solid blue;
}

table tbody tr td {
    padding: 10px 0;
}

table tbody {
    background-color: #b5d1f0;
}

table thead {
    background-color: #e49595;
}

ol li {
    list-style-position: inside;
    padding-right: 10px;
    color: blue;
}

ol {
    background-color: #cfbfbf40;
    border: 2px dotted brown;
    border-radius: 5px;
    padding: 10px;
}

h3 {
    color: teal;
    text-align: center;
    position: sticky;
    top: 50px;
    background-color: #cfbfbfcf;
    z-index: 100;
    box-shadow: 0 0 6px 1px #0020454d;
    letter-spacing: -1px;
    border-radius: 8px;
    padding: 0 5px;

}

.footer {
    background-color: #eeeeeee1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 6px 1px #0020454d;
    list-style-position: inside;
}

.footer ul li {
    margin: 10px 0;
    color: blue;
    list-style-position: inside;
    font-size: 12px;

}

.footer ul {
   font-size: 13px; 
}
img,
video {
    width: 100%;
    height: auto;
    border: 2px teal solid;
    border-radius: 17px;
    margin: 15px 0;

}
